# ======================
# Flutter / Dart
# ======================
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
pubspec.lock

# ======================
# Android
# ======================
android/.gradle/
android/app/build/
/android/app/debug
/android/app/profile
/android/app/release
.gradle/

# ======================
# iOS
# ======================
ios/Pods/
**/ios/Flutter/.last_build_id

# ======================
# Web
# ======================
build/web/
node_modules/

# ======================
# IDEs
# ======================
.idea/
*.iml
.vscode/

# ======================
# Misc
# ======================
*.log
*.class
.DS_Store
*.swp
